OPENAI_API_KEY=your_api_key_here
SERPER_API_KEY=your_api_key_here
FIRECRAWL_API_KEY=your_api_key_here

EVOLUTION_API_URL=url_here
EVOLUTION_API_KEY=your_evolution_api_key_here

PORTAINER_URL=url_here
PORTAINER_TOKEN=your_portainer_api_key_here
PORTAINER_STACK_ID=your_portainer_stack_id_here